@use 'variables' as *;


.single-event:nth-child(odd) {
  background-color: $light-grey;
}


.single-event:nth-child(even) {
  background-color: $blue-grey;
}

.single-event, single-event {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: $magic-number *0.5;
  margin: 0;
  font-family: $font-body;
  font-size: $body-font-size;

  p {
    margin-bottom: 0;
  }

  .event-left-box {
    flex: 0 0 auto;
    margin-right: $magic-number;
    width: 20%;
  }

  .event-right-box {
    flex: 1; // Tar upp resterande utrymme
  }
}