// style/form.scss

@use 'variables' as *;
@use "sass:color";

.input {
  font-size: $body-font-size;
  line-height: $line-height;
  font-family: $font-body;
  display: block;
  border: none;
  
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  width: 32rem;
  margin-bottom: $magic-number;
  margin-top: 200px;
  background-color: $white;
}

.input:focus {
  outline: 1px solid $black;
}

// .input:valid {
//   border: 1px solid $green;
// }

.input:invalid {
  border: 1px solid $red;
}

@media (max-width: 667px) {
  .input {
      width: 100%;
  }
}

.input-label {
  font-weight: bold;
  font-family: $font-body;
  margin: 2rem 0 0 0;
  display: block;
}

.input-label:first-of-type {
  margin: 1rem 0 0 0;
}

.input-label::after {
  content: ":";
}

.wrong {
  background-color: color.scale($red, $lightness: 80%);
  border: 2px solid $red;
}