// style/navigation.scss

@use 'variables' as *;
@use "sass:color";


.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    padding-top: 0.5 * $magic-number;
    padding-bottom: 0.5 * $magic-number;
    background-color: $almost-black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    font-family: $font-header;
    color: $almost-white;
    z-index: 1000;

    a {
      color: $almost-white;
      text-decoration: none;
    }

    a:active {
      color: $green;
      text-decoration: none;
    }

    a:hover {
      color: $green;
      text-decoration: none;
    }
}