// style/typography.scss
@use 'variables' as *;


html {
  font-size: 100%;
}

body {
  line-height: $line-height;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-header;
    margin-top: 1rem;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
}

h4 {
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 0;
}

h5 {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
}


p {
    margin-bottom: 1.4rem;
    font-size: $body-font-size;
    font-family: $font-body;
}

a {
    color: $white;
    text-decoration: underline $red;
    transition: text-decoration 0.3s ease;
}

a:hover {
    color: $red;
}

a:visited {
    color: $white;
    text-decoration: underline $red;
}

a:active {
    color: $green;
    text-decoration: none;
}